---
---

<style>
.footerApp {
        background-color: #fff;
        padding: 0.5rem 0;
        text-align: center;
        font-size: 0.8rem;
    }
</style>

<footer class="footerApp">
    <div class="container-fluid">
        Carisma ADM © <span data-js="currentYear"></span> | Todos os direitos reservados.
    </div>
</footer>
