---
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- noindex -->
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">

    <!-- Favicons -->
    <link rel="icon" sizes="32x32" type="image/png" href="/assets/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/assets/favicons/manifest.json">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/animista.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Libs Js -->
    <script is:inline type="module" src="/assets/libs/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Js -->
    <script is:inline type="module" src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script is:inline type="module" src="/assets/bootstrap/bootstrap.custom.js"></script>
    <script is:inline type="module" src="/assets/bootstrap/bootstrap.custom.js"></script>

    <!-- Vendor JS -->
    <script is:inline type="module" src="/assets/vendor/domPurify/purify.min.js"></script>
    <script is:inline src="/assets/vendor/domPurify/purify-custom.js"></script>

    <script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>

    <!-- App JS -->
    <script is:inline defer type="module" src="/assets/js/main.js"></script>

    <title>Carisma ADM</title>
</head>
