---
import './assets/_login.css'

import Head from '@includes/Head.astro';
import ContentItemForm from "./_content-item-form.astro";
import ContentItemImage from "./_content-item-image.astro";
---
<!doctype html>
<html lang="pt-br">
  <Head />

<body>
    <main class="flex-grow-1">
        <section class="wrapper-login">
            <ContentItemForm />
            <ContentItemImage />
        </section>
    </main>
</body>
