<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-baseline justify-content-between flex-wrap gap-2">
            <div class="card-title">Links</div>
        </div>

        <div class="mb-5">
            <h4 class="mb-0">RSS Media Center Carisma - SEDE</h4>
            <a href="http://www.carismadev.net/portal/rss/podcast_mediacenter_carisma.xml" target="_blank">
                http://www.carismadev.net/portal/rss/podcast_mediacenter_carisma.xml
            </a>
        </div>

        <div class="mb-5">
            <h4 class="mb-0">RSS Media Center Carisma - Guaratinguetá</h4>
            <a href="http://www.carismadev.net/portal/rss/podcast_mediacenter_carismaguaratingueta.xml" target="_blank">
                http://www.carismadev.net/portal/rss/podcast_mediacenter_carismaguaratingueta.xml
            </a>
        </div>

        <div class="mb-3">
            <h4 class="mb-0">RSS Carisma Didaque</h4>
            <a href="" target="_blank">
                http://www.carismadev.net/portal/rss/podcast_carisma_didaque.xml
            </a>
        </div>
    </div>
</div>


