---
import Layout from '@layouts/Layout.astro';
import ContentLinks from './_content-links.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Links para Compartilhar</span>
        <div class="breadcrumb text-secondary">
            Media Center / <span class="active">Links para Compartilhar</span>
        </div>
    </div>

    <ContentLinks />
</Layout>
