---
import Layout from '@layouts/Layout.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Painel de Controle</span>
    </div>

    <div class="card">
        <div class="card-body">


        </div>
    </div>
</Layout>
